@import 'setup.scss';

$white:#f8f8f8;
$light:#a9fbd7;
$dark: #2bdad3;
// GENERAL STYLES
html {
    font-size: 62.5%;
}

body {
    font-family: 'Domine', serif;
    font-size: 1.8rem;
    line-height: 1.2;
    background: url("../../doodles.png");
}

.wrapper {
    max-width: 1200px;
    margin: 3% auto;
    @media (max-width: 1200px){
        flex-direction: column;
        flex-wrap:wrap;
    }
}

.flex {
    display: flex;
    flex-direction: row; 
}

ul {
    list-style-type: none;
    text-transform: capitalize;
    padding: 0;
}
// buttons
.fw {
    margin:0 5px;
}

input[type=submit],
button {
    background:$white;
    border: 1px solid $dark;
    margin: 3px;
    transition: all 0.3s;
    box-shadow: 2px 2px 0px $dark;
    &:focus, 
    &:hover {
        box-shadow: 3px 3px 0px $dark;
        background: lighten($light, 20%);
        transform: scale(1.05);
    }
}

div.btn-sort {
    justify-content: center;
    button.btn-sort{
        width: 50%;
        align-self: baseline;
        margin: 2%;
        padding: 15px 0;
    }
}

.clipboard {
    display: inline-block;
    img, span{
        padding: 2px;
    }
}

// TITLE STYLES
h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
}

.header-wrapper {
    margin:0 auto;
    margin-top: 3%;
    padding: 0;
}
h1 {
    font-size: 9rem;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px 0 $dark;
    text-transform:uppercase;
    }

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 2.5rem;
    text-align: center;
    @media (max-width: 600px) and (orientation: portrait){ 
        text-align: left;
    }
    @media (max-width: 533px) and (orientation: landscape){
        text-align: left;
        font-size: 2.2rem;
    }
}

form,
.chores-container,
.completed-container {
    background: $light;
    box-shadow: 5px 5px 0 $dark;
    margin: 1% 2%;
    padding: 2%;
}

//FORM STYLES FOR INPUT
form {
    justify-content: flex-start; 
    @media (max-width: 580px) and (orientation: portrait) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    @media (max-width: 600px) and (orientation: portrait) {
        align-items: flex-start;
        justify-content: flex-start;        
    }
    .taskInput,
    .importance {
        margin:0 auto;
        padding: 0;
        @media (max-width: 580px) and (orientation: portrait){
            clear:both;
            min-width: 50%;

        }
        @media (max-width: 600px) and (orientation: portrait){
            padding:0;
            margin: 0;
            width: 100%;
        }

        position: relative;
        float: left;
        width: 50%;
        input[type=text] {
            border-bottom: 1px solid $white;
            width: 98%;
            height: 30px;
            background: $white;
            border: none;
            transition: all 0.3s;
            margin-top: 3%;
            &:focus, 
            &:hover {
                box-shadow: 0px 0px 10px $dark;
                background: lighten($light, 20%);
            }
        }
    }
    .button-row{
        justify-content: space-evenly;
        padding: 3%;
        margin-top: 3%;
    }

    .btn{
        clear:both;
        width: 50%;
        margin-left: 25%;
        padding: 15px 0;
        text-align: center;
        @media (max-width: 580px) and (orientation: portrait){
            clear:both;
            margin:0;
        }
        @media (max-width: 600px) and (orientation: portrait){
            margin-left: 25%;
        }
    }
} 

//TWO CONTAINERS FOR NOW AND LATER

.chores-container {
    width: 70%;
    @media (max-width: 1200px) {
        width: 100%;
    }
    
    .todo-container {
        @media (max-width: 680px) and (orientation: portrait){
        flex-direction: column;
        flex-wrap:wrap;
        }
        .task {
            justify-content: space-between;
        }

        .finish {
            justify-content: flex-end;
        }

        .now, 
        .sometime {
            width: calc(50% - 1%);
            padding: 2%;
            box-shadow: 5px 5px 0 $dark;
            margin-right: 1%;
            background: white;
            @media (max-width: 680px) {
                width: calc(100% - 1%);
                margin-bottom: 3%;
            }
        }

        .sometime{
            margin-right: 0;
            margin-left: 1%;
        }
        .timestamp {
            text-transform: none;
            text-align: right; 
            color: #444;
            font-size: 1.5rem; 
        }
    }
}

//FORM STYLES FOR COMPLETED CONTANER
.completed-container {
    width: 30%;
    @media (max-width: 1200px) {
        width: 100%;
    }
    button {
        display: block;
        width: 50%;
        padding: 15px 0;
        margin-left: 25%;
        box-shadow: 2px 2px 0px $light;
        transition: all 0.3s;
        &:focus, 
        &:hover {
            box-shadow: 3px 3px 0px $dark;
            background: lighten($light, 20%);
            transform: scale(1.05);
            }
        }
    }

.completed {
    padding: 2%;
    background: white;
    box-shadow: 5px 5px 0 $dark;
}



// FOOTER STYLES
.wrapper.footer {
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: 1px solid black;
    margin-top: 3%;
}