@import 'setup.scss';

html{
    font-size: 62.5%;
}

body{
    font-family: 'Domine', serif;
    font-size: 1.5rem;
}

h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 4rem;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}